accelerate==0.31.0
captum==0.7.0
datasets==2.19.0
evaluate==0.4.2
h5py==3.10.0
huggingface-hub==0.22.1
kaggle==1.6.12
keras==3.1.1
matplotlib==3.8.4
numpy==1.26.4
opendatasets==0.1.22
pandas==2.2.1
prettytable==3.10.0
pyarrow==16.0.0
pyarrow-hotfix==0.6
pycm==3.8
pyparsing==3.1.2
PyYAML==6.0.1
requests==2.31.0
scikit-learn==1.4.1.post1
scipy==1.11.4
seaborn==0.13.2
sentence-transformers==2.6.0
sentencepiece==0.2.0
setfit @ git+https://github.com/huggingface/setfit.git@327a3b64ca38dd688a7f92b67e7bf88f9db66aa9
tokenizers==0.15.2
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.2
transformers==4.39.1
transformers-interpret==0.10.0
urllib3==2.2.1